.card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100px;
  height: 150px;
  margin: 10px;
  border: 2px solid black;

  .value {
    font-family: 'AvenirNext-Medium', Arial, sans-serif;
    font-size: 2.25rem;
    line-height: 1;
  }

  .suit {
    position: absolute;
    top: 8px;
    left: 8px;
    display: block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;

    &.heart {
      background-image: url('/assets/images/suit-heart.svg');
    }

    &.tile {
      background-image: url('/assets/images/suit-tile.svg');
    }

    &.clover {
      background-image: url('/assets/images/suit-clover.svg');
    }

    &.pike {
      background-image: url('/assets/images/suit-pike.svg');
    }
  }
}
