<div class="stats" [class.active]="!gameState.started">
  <ng-container *ngIf="!gameState.started">
    <button (click)="start()">Start</button>
  </ng-container>

  <ng-container *ngIf="gameState.started">
    <div class="player">
      <div class="status">
        <div class="header">Current hand:</div>
        <div class="sum" [class.badge]="gameState.player.sum > 0">{{ gameState.player.sum }}</div>
      </div>
    </div>
    <div class="actions">
      <ng-container *ngIf="gameState.playersTurn">
        <button (click)="stay()" *ngIf="gameState.player.valid">Stay</button>
        <button (click)="newCard()" *ngIf="gameState.player.valid">New card</button>
      </ng-container>
      <ng-container *ngIf="!gameState.playersTurn && !gameState.ongoing">
        <div class="description" *ngIf="gameState.player.valid && gameState.dealer.valid === false">
          <span>Woohoo! You win!!</span>
          <button (click)="restart()">Restart</button>
        </div>
        <div class="description" *ngIf="(gameState.player.valid === false && gameState.dealer.valid) || (gameState.player.valid && gameState.dealer.valid && gameState.player.sum < gameState.dealer.sum)">
          <span>Damn it.. Dealer wins.</span>
          <button (click)="restart()">Restart</button>
        </div>
        <div class="description" *ngIf="(gameState.player.valid === false && gameState.dealer.valid === false) || (gameState.player.sum === gameState.dealer.sum)">
          <span>Oh well, it's a draw.</span>
          <button (click)="restart()">Restart</button>
        </div>
      </ng-container>
      <ng-container *ngIf="gameState.playersTurn && !gameState.ongoing">
        <div class="description">
          <span>Oh no! You busted...</span>
          <button (click)="restart()">Restart</button>
        </div>
      </ng-container>
    </div>
    <div class="player right">
      <div class="status">
        <div class="header">Current hand:</div>
        <div class="sum" [class.badge]="gameState.dealer.sum > 0">{{ gameState.dealer.sum > 0 ? gameState.dealer.sum : 'Waiting' }}</div>
      </div>
    </div>
  </ng-container>
</div>
