.stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 0 15px;

  &.active {
    justify-content: center;
  }

  .player {
    display: flex;
    align-items: center;

    &.right {
      text-align: right;
    }

    .status {
      display: flex;
      align-items: center;

      .header {
        margin-right: 15px;
      }

      .sum {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        &.badge {
          width: 20px;
          height: 20px;
          padding: 10px;
          color: black;
          background-color: white;
          border-radius: 50%;
        }
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    min-height: 80px;

    .description {
      display: flex;
      flex-flow: row;
      align-items: center;

      span {
        margin-right: 15px;
      }
    }
  }
}
