main {
  display: flex;
  width: 100%;
  height: 100%;

  .player-container {
    display: flex;
    flex-basis: 50%;
    flex-shrink: 0;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .header {
      position: absolute;
      top: 15px;
      left: 15px;
      font-family: 'AvenirNext-Medium', Arial, sans-serif;
      font-size: 1.5rem;

      &.right {
        text-align: right;
        right: 15px;
        left: auto;
      }
    }

    .cards-container {
      display: flex;
      flex-flow: row wrap;
      width: 250px;
      justify-content: space-around;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  font-family: 'AvenirNext-Medium', Arial, sans-serif;
  color: white;
  background-color: black;
}
