<main>
  <div class="player-container">
    <div class="header">Player</div>
    <div class="cards-container">
      <ng-container *ngFor="let handCard of gameService.playerHandCards">
        <app-card [value]="handCard.value" [suit]="handCard.suit"></app-card>
      </ng-container>
    </div>
  </div>
  <div class="player-container">
    <div class="header right">Opponent</div>
    <div class="cards-container">
      <ng-container *ngFor="let handCard of gameService.dealerHandCards">
        <app-card [value]="handCard.value" [suit]="handCard.suit"></app-card>
      </ng-container>
    </div>
  </div>
</main>

<footer>
  <app-stats></app-stats>
</footer>
