main {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  max-width: 480px;
  margin: auto;
  text-align: center;

  h1 {
    font-family: "AvenirNext-Regular", Arial, sans-serif;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  p {
    &:last-of-type {
      margin-bottom: 2rem;
    }
  }

  button {
    &:hover {
      border-color: black;
    }
  }
}
