<main>
  <h1>Blackjack</h1>
  <p>Gentlemen, let's play a round of blackjack, shall we?</p>
  <p>While playing, keep in mind that you should attempt to beat the dealer by getting a count as close to 21 as possible, without going over 21.</p>
  <p>That's it – there are no other rules. Pretty simple, right?</p>
  <button routerLink="/game">Let's play</button>
</main>
