/* You can add global styles to this file, and also import other style files */

@font-face{
  font-family:"AvenirNext-Regular";
  src:url("assets/fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
  src:url("assets/fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),url("assets/fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),url("assets/fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),url("assets/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"),url("assets/fonts/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
}

@font-face{
  font-family:"AvenirNext-Medium";
  src:url("assets/fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix");
  src:url("assets/fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix") format("eot"),url("assets/fonts/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2") format("woff2"),url("assets/fonts/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff"),url("assets/fonts/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf") format("truetype"),url("assets/fonts/a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80") format("svg");
}

body {
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(-20deg, white 50%, whitesmoke 50%);
  font-family: 'AvenirNext-Regular', Arial, sans-serif;
  line-height: 1.2;
}

button {
  display: block;
  height: 50px;
  margin: 10px;
  padding: 15px 30px;
  font-family: AvenirNext-Medium, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1;
  color: white;
  background-color: black;
  border: 2px solid white;
  border-radius: 0;
  cursor: pointer;

  &:hover {
    color: black;
    background-color: white;
  }

  &.disabled {
    border-color: lightgray;
  }
}
